{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chirp</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chirp.id }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ chirp.body }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chirp_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('chirp_edit', { 'id': chirp.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
